<html>
	<body>
		<header>
			<h1><%= artist[0][1] %></h1>
            <a href="/artists">See All Artists</a>
		</header>


        <ul>
        <%albums.each do |album| %>
        <li>
        <form action= '/album/<%= album[0]%>' method= 'post'>
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="artist_id" value="<%= artist[0][0] %>">
        <button>X</button>
        <a href="/album/<%= album[0] %>"><%= album[1] %></a>
        </form>
        <% end %>
        </li>
        </ul>


        <h3>Add an Album here!</h3>
        <form action="/album" method="post">
            <input type="text" name = "names" placeholder="Album Name" required>
            <input type="hidden" name="artist_id" value= <%= artist[0][0] %>>
            <button>ADD YOUR ALBUM!</button>
        </form>


        <h3>Update <%= artist[0][1] %>'s name here:</h3>
        <form action="/artist/<%= artist[0][0]%>" method = 'post'>
            <input type="hidden" name = "_method"  value = 'put'>
            <input type="text" name = "newname" placeholder="Update Band's Name Here?" required>
            <button>UPDATE IT!</button>
        </form>


	</body>
</html>