<html>
    <head>
        <style>
            body{
                margin: 0 auto;
            }
            .artist_img{
                width: 30%;
            }
            .album_img{
                width: 20%;
            }
        </style>
    </head>
	<body>
		<header>
			<h1><%= artist[0][1] %></h1>
            <a href="/artists">See All Artists</a>
		</header>


        <ul>
        <%albums.each do |album| %>
        <li>
        <form action= '/album/<%= album[0]%>' method= 'post'>
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="artist_id" value="<%= artist[0][0] %>">
        <button>X</button>
        <a href="/album/<%= album[0] %>"><%= album[1] %></a>
        </form>
        <% end %>
        </li>
        </ul>


        <h3>Add an Album here!</h3>
        <form action="/album" method="post">
            <input type="text" name = "names" placeholder="Album Name" required>
            <input type="hidden" name="artist_id" value= <%= artist[0][0] %>>
            <button>ADD YOUR ALBUM!</button>
        </form>


        <h3>Update <%= artist[0][1] %>'s name here:</h3>
        <form action="/artist/<%= artist[0][0]%>" method = 'post'>
            <input type="hidden" name = "_method"  value = 'put'>
            <input type="text" name = "newname" placeholder="Update Band's Name Here?" required>
            <button>UPDATE IT!</button>
        </form>

        <section id = 'artist_section'></section>

        <section id = 'album_section'>
            <h3>Albums</h3>
        </section>

        <section id = 'top_ten'>
            <h3><%= artist[0][1] %>'s Top Songs</h3>
            <ol id = 'top_ten_list'></ol>
        </section>

        <section id = "related_bands">
            <h3>Similar to <%= artist[0][1] %></h3>
        </section>



        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>

        //THIS IS FOR THE IMAGE OF THE BAND
        //TRIGGERS OTHER AREAS
        //ids = artist_section, artist_img
        var artist = <%=artist[0]%>;
        var artist_name = artist[1];
        encoded = artist_name.replace(" ", "+");
        // console.log(encoded);

        var url = "https://api.spotify.com/v1/search?q=artist:" + encoded + "&type=artist";

        var xhr = new XMLHttpRequest();


        xhr.addEventListener('load', function(e) {
      
        var d = xhr.responseText;
        var parsed = JSON.parse(d);

        var artist_section = document.getElementById('artist_section');

        var artist_img = document.createElement('img');
        artist_img.className = "artist_img";
        artist_img.src = parsed['artists']['items'][0]['images'][0]['url'];
        artist_section.appendChild(artist_img);

        var band_id = parsed['artists']['items'][0]['id'];
        relatedBands(band_id)
        albumFinder(band_id);
        topTracks(band_id)

        // console.log(parsed);
    })
        xhr.open("GET", url);
        xhr.send();
    
//GENERATES LIST OF SIMILAR BANDS, IMAGES AND THEIR NAME
//class  band
// id related_bands
var relatedBands= function(band_id){
            var url = "https://api.spotify.com/v1/artists/" + band_id + "/related-artists"
            var xhr = new XMLHttpRequest();
            xhr.addEventListener('load', function(e) {
                var d = xhr.responseText;
                var parsed = JSON.parse(d);
                // console.log(parsed);

                var related_bands = document.getElementById('related_bands');

                var i = 0;
                while(i < parsed['artists'].length){
                    var div = document.createElement('div');
                    div.className = "band";
                    related_bands.appendChild(div);
                    var img = document.createElement('img');
                    img.src = parsed['artists'][i]['images'][1]['url'];
                    div.appendChild(img);
                    var p = document.createElement('p');
                    p.innerText = parsed['artists'][i]['name'];
                    div.appendChild(p);
                    i++;
                }
            })

            xhr.open("GET", url);
            xhr.send();
        }



    //ALBUM FINDER
    //LOOPS THROUGH ALL THE ALBUMS BASED ON THE BANDS ID
    //THEN MAKES SURE THERES NO DUPLICATES
    //class names : album_img
var albumFinder = function(band_id){
        
        var url = "https://api.spotify.com/v1/artists/" + band_id + "/albums"
        var xhr = new XMLHttpRequest();

        xhr.addEventListener('load', function(e) {
      
        var d = xhr.responseText;
        var parsed = JSON.parse(d);
        console.log(parsed)
  
        var album_section = document.getElementById('album_section');

        //gets all album names
        var name_array = []
        var i = 0
        while(i < parsed['items'].length){
         var name = parsed['items'][i]['name']
         name_array.push(name);
         // console.log(name);
         i++;
        }

        //finds all the albums that dont include "(" (those ones are duplicates)
        //and duplicate names
        var index_array = []
        var x = 0;
        while(x < name_array.length){
            var check = name_array[x]
            var check_two = name_array[x+1]
            if(name_array[x].indexOf("(") === -1 && check != check_two){
                index_array.push(name_array.indexOf(name_array[x]))
            }
            x++;
        }

        //this puts all the albums on the page
        var z = 0
        while(z < index_array.length){
            var img = document.createElement('img');
            img.src = parsed['items'][index_array[z]]['images'][0]['url'];
            img.className = "album_img";
            album_section.appendChild(img);

            var p = document.createElement('p');
            p.innerText = parsed['items'][index_array[z]]['name'];
            album_section.appendChild(p);
            z++;
        }
        })

        xhr.open("GET", url);
        xhr.send();
}

//POPULTES THE TOP TRACKS IN THE USA FROM THIS ARTIST
//class top_ten_tracks
//id top_ten_list
var topTracks = function(band_id){
    //top tracks
    var url = "https://api.spotify.com/v1/artists/" + band_id + "/top-tracks?country=US";
    var xhr = new XMLHttpRequest();

    xhr.addEventListener('load', function(e) {
  
    var d = xhr.responseText;
    var parsed = JSON.parse(d);
    // console.log(parsed);


    var top_ten_list = document.getElementById('top_ten_list');

    var x = 0
    while(x < parsed['tracks'].length){
    var li = document.createElement('li');
    li.className = "top_ten_track";
    li.innerText = parsed['tracks'][x]['name'];
    top_ten_list.appendChild(li);
    x++;
    }

    })

    xhr.open("GET", url);
    xhr.send();

}
        </script>


	</body>
</html>